In [2]:
import pandas as pd

data_dir = '/Users/davidebonaglia/Dropbox/Projects UNU/Excellent Science/data_cleaned/'

#H2020BiblioData
H2020BiblioData = data_dir + 'H2020BiblioData_cleaned_2.xlsx'

H2020BiblioData = pd.read_excel(H2020BiblioData)
H2020BiblioData

,project_id,starting_date,ending_date,period_in_days,period_in_months,n_publications,times_cited,field_expected_citations,field_normalized_cit_impact,top_1,...,SWAFS_others,action_type_proj_id,action_type_proj_id_ERC-ADG,action_type_proj_id_ERC-COG,action_type_proj_id_ERC-POC,action_type_proj_id_ERC-POC-LS,action_type_proj_id_ERC-STG,action_type_proj_id_ERC-SyG,action_type_proj_id_MSCA-IF-EF,action_type_proj_id_MSCA-IF-GF
0,115797,2015-11-01,2023-10-31,2921,95,79,1566,10.087722,2.001676,0.012658,...,0,JTI-IMI2-RIA,0,0,0,0,0,0,0,0
1,115842,2015-03-01,2019-02-28,1460,47,4,103,16.687500,1.774775,0.000000,...,0,JTI-IMI2-RIA,0,0,0,0,0,0,0,0
2,115843,2015-02-01,2018-01-31,1095,35,13,209,15.508462,1.016177,0.000000,...,0,JTI-IMI2-RIA,0,0,0,0,0,0,0,0
3,115847,2014-12-01,2020-11-30,2191,71,2,52,12.495000,1.956900,0.000000,...,0,JTI-IMI2-RIA,0,0,0,0,0,0,0,0
4,115848,2015-02-01,2017-04-30,819,26,1,23,22.390000,1.027500,0.000000,...,0,JTI-IMI2-RIA,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12751,101016448,2021-01-01,2023-12-31,1094,35,1,0,1.040000,0.000000,0.000000,...,0,IA,0,0,0,0,0,0,0,0
12752,101016985,2021-01-01,2023-12-31,1094,35,1,0,1.140000,0.000000,0.000000,...,0,RIA,0,0,0,0,0,0,0,0
12753,101017171,2021-01-01,2023-12-31,1094,35,4,0,0.115000,0.000000,0.000000,...,0,RIA,0,0,0,0,0,0,0,0
12754,101017226,2021-01-01,2023-12-31,1094,35,3,1,0.426667,0.320067,0.000000,...,0,RIA,0,0,0,0,0,0,0,0
12755,101023615,2021-04-01,2023-03-31,729,23,1,3,1.320000,2.265900,0.000000,...,0,MSCA-IF-EF,0,0,0,0,0,0,1,0

In [3]:
#H2020BiblioData
knowledge_diversity = data_dir + 'knowledge_diversity_29122022.xlsx'

knowledge_diversity = pd.read_excel(knowledge_diversity)
knowledge_diversity

       project_id  knowledge_diversity_3
0          115797                     24
1          115842                      4
2          115843                     18
3          115847                      1
4          115848                      1
...           ...                    ...
12751   101016448                      3
12752   101016985                      1
12753   101017171                      5
12754   101017226                      4
12755   101023615                      1

[12756 rows x 2 columns]

In [4]:
#participants
participants = data_dir + 'participants_cleaned.xlsx'

participants = pd.read_excel(participants)
participants

,project_id,n_organizations,n_participants,total_cost_proj,n_countries,share_of_countries,one_country_is_US,one_country_is_UK,one_country_is_SouthKorea,one_country_is_Japan,one_country_is_China,at_least_one_EU27,at_least_one_EU_Widening,at_least_one_not_EU_Widening,at_least_one_ALL_Widening,cd_org_type_HES,cd_org_type_OTH,cd_org_type_PRC,cd_org_type_PUB,cd_org_type_REC
0,115797,42,903,40173156,16,0.0914,1,1,0,0,1,1,1,1,1,1,1,1,1,1
1,115842,13,91,4786010,8,0.0457,1,1,0,0,1,1,0,0,0,1,0,1,1,1
2,115843,18,171,4300935,9,0.0514,0,1,0,0,0,1,0,0,0,1,1,1,0,1
3,115844,4,10,2260105,3,0.0171,0,0,0,0,0,1,1,0,1,1,1,1,0,1
4,115847,6,16,33915823,5,0.0286,1,1,0,0,0,1,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35850,101038099,1,1,147463,1,0.0057,0,0,0,0,0,1,1,0,1,1,0,0,0,0
35851,101039118,1,1,0,1,0.0057,0,0,0,0,0,1,0,0,0,0,0,0,0,1
35852,101046258,3,6,169985,2,0.0114,0,0,0,0,0,1,0,0,0,1,0,0,0,1
35853,101046657,12,61,1673892,5,0.0286,0,0,0,0,0,1,0,0,0,1,0,1,1,1
35854,101048703,29,417,4999762,28,0.1600,0,0,0,0,0,1,1,1,1,0,1,1,1,1

In [7]:
data = pd.merge(H2020BiblioData, participants, how='inner', on='project_id')
data = pd.merge(data, knowledge_diversity, how='inner', on='project_id')

data = data[['project_id', 'n_publications', 'starting_date', 'ending_date', 'period_in_days', 'period_in_months',
            'times_cited', 'field_expected_citations', 'field_normalized_cit_impact', 'top_1', 'at_least_one_publ_open_access',
            'knowledge_diversity_2', 'knowledge_diversity_3', 
            'total_cost_proj', 'n_agencies', 'n_organizations', 'n_participants',
            'n_countries', 'share_of_countries', 
            'one_country_is_US', 'one_country_is_UK', 'one_country_is_SouthKorea', 'one_country_is_Japan', 'one_country_is_China',
            'at_least_one_EU27', 'at_least_one_EU_Widening', 'at_least_one_not_EU_Widening', 'at_least_one_ALL_Widening',
            'at_least_one_fund_agency_University', 'at_least_one_fund_agency_Ministry', 'at_least_one_fund_agency_ResInst', 'at_least_one_fund_agency_Others',
            'cd_org_type_HES', 'cd_org_type_OTH', 'cd_org_type_PRC', 'cd_org_type_PUB', 'cd_org_type_REC',
            'progr_proj_id_ERC', 'progr_proj_id_FET', 'progr_proj_id_FTI', 'progr_proj_id_ICT', 'progr_proj_id_INFRA', 'progr_proj_id_LEITs', 'progr_proj_id_MSCA', 'progr_proj_id_SC1',
            'progr_proj_id_SC2', 'progr_proj_id_SC3', 'progr_proj_id_SC4', 'progr_proj_id_SC5', 'progr_proj_id_SC6', 'progr_proj_id_SC7', 'progr_proj_id_SEWP',
            'SWAFS', 'Euratom', 'SWAFS_others',
            'action_type_proj_id', 'action_type_proj_id_ERC-ADG', 'action_type_proj_id_ERC-COG', 'action_type_proj_id_ERC-POC', 'action_type_proj_id_ERC-POC-LS',
            'action_type_proj_id_ERC-STG', 'action_type_proj_id_ERC-SyG', 'action_type_proj_id_MSCA-IF-EF','action_type_proj_id_MSCA-IF-GF',
            'research_area_Biology', 'research_area_GeoScience', 'research_area_Physics', 'research_area_Chemistry',	
            'research_area_Astronomy&Astrophysics', 'research_area_Meteorology', 'research_area_Neurosciences',
            'research_area_NuclearScience', 'research_area_EnvironmentalScience', 'research_area_MaterialScience',	
            'research_area_Mathematics', 'research_area_Economics', 'research_area_Engineering', 'research_area_ComputerScience',
            'research_area_Robotics', 'research_area_Medicine', 'research_area_Pharmacy', 'research_area_Psychology',	
            'research_area_SocialScience', 'research_area_Ecology', 'research_area_Law', 'research_area_Statistics']]


data

,project_id,n_publications,starting_date,ending_date,period_in_days,period_in_months,times_cited,field_expected_citations,field_normalized_cit_impact,top_1,...,research_area_Engineering,research_area_ComputerScience,research_area_Robotics,research_area_Medicine,research_area_Pharmacy,research_area_Psychology,research_area_SocialScience,research_area_Ecology,research_area_Law,research_area_Statistics
0,115797,79,2015-11-01,2023-10-31,2921,95,1566,10.087722,2.001676,0.012658,...,0,0,0,1,1,0,0,0,0,0
1,115842,4,2015-03-01,2019-02-28,1460,47,103,16.687500,1.774775,0.000000,...,0,0,0,1,1,0,0,0,0,0
2,115843,13,2015-02-01,2018-01-31,1095,35,209,15.508462,1.016177,0.000000,...,0,0,0,1,1,0,0,0,0,0
3,115847,2,2014-12-01,2020-11-30,2191,71,52,12.495000,1.956900,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,115848,1,2015-02-01,2017-04-30,819,26,23,22.390000,1.027500,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12751,101016448,1,2021-01-01,2023-12-31,1094,35,0,1.040000,0.000000,0.000000,...,1,0,0,0,0,0,0,0,0,0
12752,101016985,1,2021-01-01,2023-12-31,1094,35,0,1.140000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
12753,101017171,4,2021-01-01,2023-12-31,1094,35,0,0.115000,0.000000,0.000000,...,1,0,0,0,0,0,0,0,0,0
12754,101017226,3,2021-01-01,2023-12-31,1094,35,1,0.426667,0.320067,0.000000,...,1,0,0,0,0,0,0,0,0,0
12755,101023615,1,2021-04-01,2023-03-31,729,23,3,1.320000,2.265900,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [8]:
#save file  
data_dir = '/Users/davidebonaglia/Dropbox/Projects UNU/Excellent Science/data_cleaned/'
data.to_excel(data_dir + 'database_prod_model_29122022.xlsx', index=False)